*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
}

.MenuLogo a{
  color: black;
}
@media only screen and (min-width: 1200px) {
  nav{
    width: 100%;
    height: 60px;
    text-align: center;
    position: relative;
  }

  .MenuLogo{
    width: 300px;
    height: 30px;
    margin: 20px;
    position: absolute;
    line-height: 30px;
    border-right: solid lightgrey;
  }

  .MenuLogo:hover{
    cursor: pointer;
  }

  .MenuLogo a{
    font-weight: bolder;
    font-size: 30px;

  }

  .Section{
    width: 150px;
    height: 30px;
    margin: 20px;
    position: absolute;
    left: 320px;
    line-height: 30px;
    
  }
  .Section:hover, .Section a:hover{
    cursor: pointer;
    color: black;
    font-weight: 400;
  }

  .Section a{
    font-weight: 100;
    font-size: 20px;
    color: grey;
  }

  .help {
    width: 100px;
    height: 30px;
    margin: 20px;
    position: absolute;
    left: 500px;
    line-height: 30px;
  }

  .help:hover,.help a:hover{
    cursor: pointer;
    color: black;
    font-weight: 400;
  
  }

  .help a{
    font-size: 20px;
    font-weight: 100;
    color: grey;
  }

  .introduction{
    width: 100%;
    height: 200px;
    background-color: black;
    text-align: center;
    margin-bottom: 40px;
  }

  .introduction h3{
    font-size: 33px;
    margin-left: 40px;
    font-weight: bolder;
    padding-top: 20px;
    color: white;
  }

  .introduction p{
    font-size: 20px;
    color: white;
    margin: 0px 50px;
  }

  .Thecountry{
    text-align: center;
  }

  .dishes__container{
    width: 100%;
    height: 700px;
    position: relative;
    margin: 5px;
  }

  .theimage{
    position: absolute;
    width: 600px;
    height: 400px;
    left: 43%;
    top: 140px;
  }

  .theimage img{
    width: 100%;
    height: 100%;
  }

  .discription{
    width: 400px;
    position: absolute;
    left: 30px;
    top: 30px;
  }

  .discription h4{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  } 

  .discription p{
    font-size: 20px;
    font-weight: lighter;
    color: grey;
  }

  .GoToButton{
    position: absolute;
    left: 44%;
    bottom: 164px;
    width: 200px;
    height: 50px;
    z-index: 999;
  }

  .GoToButton button{
    width: 100%;
    height: 100%;
    background-color: rgb(78, 112, 83);
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
  }

  .GoToButton button:hover{
    cursor: pointer;
    font-size: 15.2px;
  }

  footer{
    width: 100%;
    height: 85px;
    display: inline-block;
    justify-content: center;
    background-color: rgb(167, 167, 167);
  }

  .footer__container{
    width: 100%;
    height: 25px;
    position: relative;
    margin-bottom: 30px;
  }

  .social__container{
    width: 100px;
    height: 25px;
    display: inline-flex;
    position: absolute;
    top: 20px;
    left: 45%;
  }

  .social{
    width: 100px;
    height: 25px;
    margin-right: 10%;
    margin-left: 10%;
  }

  .footer_copyright{
    text-align: center;
    width: 100%;
    background-color: grey;
    height: 30px;
    color: white;
  }

  .text-white{
    text-decoration: none;
    font-weight: bold;
    color: white;
    line-height: 30px;
  }













}

@media only screen and (max-width:1200px) {
  nav{
    width: 100%;
    height: 60px ;
    text-align: center;
    position: relative;
  }

  .MenuLogo{
    width: 120px;
    height: 30px;
    top: 20px;
    left: 10px;
    position: absolute;
    line-height: 30px;
    border-right: solid lightgrey;
  }

  .MenuLogo a{
    font-weight: bolder;
    font-size: 16px;
  }

  .MenuLogo:hover{
    cursor: pointer;
  }

  .Section {
    width: 80px;
    height: 30px;
    margin: 0px;
    position: absolute;
    left: 150px;
    top: 20px;
    line-height: 30px;
  }

  .Section:hover, .Section a:hover{
    cursor: pointer;
    color: black;
    font-weight: 400;
  }

  .Section a{
    font-weight: 100;
    font-size: 15px;
    color: grey;
  }

  .help{
    width: 80px;
    height: 30px;
    top: 20px;
    position: absolute;
    left: 250px;
    line-height: 30px;
  }

  .help a{
    font-size: 15px;
    font-weight: 100;
    color: grey;
  }

  .help:hover, .help a:hover{
    cursor: pointer;
    color: black;
    font-weight: 400;
  }

  .introduction{
    width:100%;
    height: 200px;
    background-color: black;
    text-align: center;
    margin-bottom: 40px;
    min-width: 600px;
  }

  .introduction h3{
    font-size: 33px;
    margin-left: 40px;
    font-weight: bolder;
    padding-top: 20px;
    color: white;
  }

  .introduction p{
    font-size: 15px;
    color: white;
    margin: 0px 50px;
  }

  .Thecountry{
    text-align: center;
  }

  .dishes__container{
    position: relative;
    width: 100%;
    height: 550px;
    margin: 5px;
  }

  .theimage{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 400px;
    height: 300px;
    z-index: -1;
  }

  .theimage img{
    width: 100%;
    height: 100%;
  }

  .discription{
    position: absolute;
    left: 40px;
    bottom: 30px;
    width: 500px;
  }

  .discription h4{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .discription p{
    font-size: 12px;
    font-weight: lighter;
    color: grey;
  }

  .GoToButton{
    position: absolute;
    left: 30px;
    top: 280px;
    width: 150px;
    height: 40px;
    z-index: 998;
  }

  .GoToButton button{
    width: 100%;
    height: 100%;
    background-color: rgb(78, 112, 83);
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 10px;
    z-index: 999;
  }

  .GoToButton button:hover{
    cursor: pointer;
    font-size: 10.2px;
  }

  footer{
    width: 100%;
    height: 85px;
    display:inline-block;
    justify-content: center;
    background-color: rgb(167,167,167);
  }

  .footer__container{
    width: 100%;
    height: 25px;
    position:relative;
    margin-bottom: 30px;
  }

  .social__container{
    width: 200px;
    height: 25px;
    display: inline-flex;
    position: absolute ;
    top: 20px;
    left: 35%;
  }

  .social{
    width: 50px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .footer_copyright{
    text-align: center;
    width: 100%;
    background-color: grey;
    height: 30px;
    color: white;
  }

  .text-white{
    text-decoration: none;
    font-weight: bold;
    color: white;
    line-height: 30px;
  }



}  